.container{
    border: 0in;
    background-color: rgb(255, 244, 198);
    max-resolution: -1px;
    background-color: blueviolet;
    font-style: italic;
    font: larger;
    align-self: ;
}